<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa procedural</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Salida del primer mapa</h1>

    <button id="generarMapa">Generar Mapa</button>

    <pre id="output"></pre> <!-- Área donde se mostrará la salida -->
    <div id="mapa"></div> <!-- Contenedor para el mapa -->



    
    
    <script src="/mapaproc.js"></script> <!-- Archivo JS con la lógica -->  
</body>

</html>